.food-item{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-left: 30px;
  margin-right: 10px;
}


.foods-cart{
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 20px;
}

.catagories{
  text-align: center;
  width: 80%;
  font-size: 30px;
  font-weight: 800;
}

.cart-div{
  background-color: rgb(0, 0, 0);
  border-radius: 8px;
  color: white;
  text-align: center;
}


@media only screen and (max-width: 600px) {
  body {
    background-color: rgb(206, 243, 255);
  }

  .food-item{
    display: grid;
    grid-template-columns: 1fr;
  }

  .catagories{
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    margin-left: 25px;
  }

  
}