.food-img img{
padding: 10px;
border-radius: 20px;
}

.food-title-price h5{
  font-weight: 700;
}

.food-title-price p{
  font-weight: 700;
}

.cart-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-weight: 700;
  background-color: rgb(21, 87, 255);
  border: none;
  padding: 9px;
  border-radius: 8px;
  gap: 10px;
}

.cart-btn p{
  margin-bottom: 0%;
}

.cart-btn:hover{
  background-color: rgb(0, 255, 251);
  color: black;
}