.all-btn button{
  
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-weight: 700;
  background-color: rgb(21, 87, 255);
  border: 0px;
  padding: 9px;
  border-radius: 10px;
  margin-top: 15px;
  width: 80%;

}

.all-btn{
  display: flex;
  flex-direction: column;
}


